<!-- Footer -->
<footer class="py-5">
    <div class="container">
        <div class="row align-items-center mb-4 gy-4">
            <!-- Social Icons -->
            <div class="col-12 col-md-4 d-flex justify-content-center justify-content-md-start">
                <ul class="nav justify-content-center">
                    <li class="nav-item">
                        <a class="" href="../">HOME</a>
                    </li>
                    <li class="nav-item">
                        <a class="" href="../rsvp">RSVP</a>
                    </li>
                    <li class="nav-item">
                        <a class="" href="../events">EVENTS</a>
                    </li>
                </ul>
            </div>

            <!-- Logo -->
            <div class="col-12 col-md-4 text-center">
                <h2>Chloe + Michael</h2>
            </div>

            <!-- Navigation -->
            <div class="col-12 col-md-4">
                <ul class="nav justify-content-center justify-content-md-end">
                    <li class="nav-item">
                        <a class="" href="../travel">TRAVEL</a>
                    </li>
                    <li class="nav-item">
                        <a class="" href="../registry">REGISTRY</a>
                    </li>
                    <li class="nav-item">
                        <a class="" href="../faq">FAQ</a>
                    </li>
                </ul>
            </div>
        </div>

        <hr class="my-4">

        <!-- Copyright -->
        <div class="text-center">
            <p class="mb-0">Made with love by <script>document.write(new Date().getFullYear())</script> Chloe & Michael.</p>
        </div>
    </div>
</footer> 
