<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-light fixed-top">
    <div class="container">
        <a class="navbar-brand" href="/" id="navbar-brand">
            Chloe + Michael
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/" id="home-link">HOME</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="../rsvp" id="rsvp-link">RSVP</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="../events" id="events-link">EVENTS</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="../travel" id="travel-link">TRAVEL</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="../registry" id="registry-link">REGISTRY</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="../faq" id="faq-link">FAQ</a>
                </li>
            </ul>
        </div>
    </div>
</nav> 